__pycache__/
.pytest_cache/

code/*
!code/*.*
code/config_single_selectivities.txt

res/
inputs/
input/
output/
logs/
experiments/
new_experiments/
final_results/

*.local
*.local.*

simple/java/target/

flink-cep/